body {
  background: #ffffff;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

#popup {
  position: fixed;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  display: none;
  top: 50%;
  left: 50%;
  width: 40%;
  color: black;
  padding: 5rem;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#popup.show {
  display: block;
}

.ebay-des {
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  padding: 3px 8px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
}

#loading {
  padding: 10px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-family: 'lightnarrow';
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;
}

.croppedImage {
  width: 100%;
  height: auto;
}

#hovered-image {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1000;
  background-color: white;
  border: 1px solid black;
}

#hovered-image img {
  width: auto;
  height: auto;
}

#hovered-image div {
  border-top: 1px solid black;
  padding: 20px;
  display: flex;
}

#hovered-image p {
  padding-right: 15px;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  color: black;
}
